.heading1{
    float: center;
    padding-left: 500px;
    color: white;
    background: #ebebeb;
    
    height: 400;
    padding-top: 50px;
}

.nav {
    text-align: center;
    padding-top: 50px;
    background-color: aqua
    

}

